

body{
    
    color:rgba(0, 0, 0, 0.863);
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    background-color:#ffff ;
}



::placeholder{
 
   font-size: 10px; 
   opacity: 0.5;
}

.btn-primary{
    margin-top:  50px;
    margin-left: 419px;
    margin-right: 400px;
    Width :180px;
    Height:45px;
    box-shadow:0 5px 5px 5px rgba(0,0,0,0.1);
}

.btn-success{
    margin-top:  0px;
    margin-left: 419px;
    margin-right: 400px;
    Height:45px;
    Width :180px;
    box-shadow:0 5px 5px 5px rgba(0,0,0,0.1);
}

.btn-secondary{
     margin-left : 30px;
     color: #fff;
     background-color: #6c757d;
     border-color: #6c757d;
     Height:45px;
     Width :180px;
     box-shadow:0 5px 5px 5px rgba(0,0,0,0.1);
} 

.previous {
    text-align: left;
    }
    
.next {
    text-align: right;
    }


.navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: 10px;
        background-color:#EEEEEE;
        /* box-shadow:0 5px 5px 5px rgba(0,0,0,0.1); */
    }

.d-flex{
    margin-left: 216px ;
}

 .form-control {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
            display: block;
            width: 614px;
            padding: .375rem .75rem;
            font-size: 5px;
            font-weight: 300;
            line-height: 1;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .25rem;
            /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
            background-repeat: no-repeat;
            background-size: 18px 18px;
            background-position: 95% center;      
            padding: 12px 24px;
            border: 0px solid #575756;
            box-shadow:0 5px 5px 1px rgba(0,0,0,0.1);
            backface-visibility: hidden;
            

        
    }